.tim-phong-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 16px;
}

.tim-phong-user-address {
  grid-column: 1 / -1;
}

.phong-item:hover { transform: translateY(-2px); transition: transform .2s; }
